body::before {
  display: block;
  content: '';
  height: 60px;
}

body{
  overflow-x: hidden;
}

.resourse-title{
  margin-top: 5%;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (min-width:460px){
  #contact-info{
    display: flex;
    flex-direction: column;
  }
}

.nav-item :hover {
  color:#1c6df5;
  font-size: 1.2em;
  font-weight: 600;
  transform: translateZ(-5px);
  transition: transform 250ms;
}
@media (max-width: 768px) {
  .resourse-title{
    margin-top: 10%;
  }
}
